include LICENSE
include README.md
include CHANGELOG.md
include CONTRIBUTING.md

recursive-include src/osync *.py
recursive-include src/osync/proto *.proto

global-exclude __pycache__
global-exclude *.py[cod]
global-exclude *.so
global-exclude .DS_Store